<html>
<head>
<title>JS Charts</title>
<script type="text/javascript" src="jscharts.js"></script>
</head>
<body>
<div id="chart_container">Loading chart...</div>
<script type="text/javascript">
var myChart = new JSChart('chart_container', 'bar', '');
myChart.setDataArray([['Mar02', 24],['Mar03', 57],['Mar04', 33],['Mar05', 72],['Mar06', 22]]);
myChart.colorize(['#C7D217','#B4BE14','#949E07','#6B720C','#E3E982']);
myChart.setSize(600, 300);
myChart.setIntervalEndY(80);
myChart.setTitle('Year-to-year growth rates in home broadband penetration');
myChart.setTitleFontSize(10);
myChart.setGridOpacity(0.8);
myChart.setBarSpacingRatio(55);
myChart.setBarValuesColor('#7B7D77');
myChart.setBarBorderWidth(0);
myChart.setBarOpacity(1);
myChart.setAxisWidth(1);
myChart.setAxisNameX('', );
myChart.setAxisNameY('', );
myChart.draw();
</script>
</body>
</html>